
<div class="container">

	<div *ngIf="!data">
		<div class="preloader-background">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

<div *ngIf="data" class="section">
    <h5>Running Services</h5>
    <p>Below you can see all backend services currently running (or not).</p>
	<div class="row">
		<div class="col l4" *ngFor="let item of data">
			<div class="card small">
				<div class="card-content">
					<a routerLink="/microservice-status/{{item.name}}" routerLinkActive="active"><span class="card-title ">{{item.name}}</span></a>
					{{item.bindHostname}}:{{item.bindPort}} 
					
					<i class="material-icons teal-text center-align " style="font-size: 10rem; width:100%"
						*ngIf="item.status == 'running'">check</i>
						
					<i class="material-icons yellow-text center-align" style="font-size: 10rem; width:100%"
						*ngIf="item.status == 'stopped'">pause</i>
						
					<i class="material-icons red-text center-align" style="font-size: 10rem; width:100%"
						*ngIf="item.status == 'failed'">clear</i>
				</div>
				<div class="card-action center">
					<a class="waves-effect waves-teal btn-flat teal-text"
						*ngIf="item.status != 'running'"
						(click)="start(item.name)">start</a> <a
						class="waves-effect waves-teal btn-flat disabled teal-text"
						*ngIf="item.status == 'running'">start</a> <a
						class="waves-effect btn-flat red-text"
						*ngIf="item.status != 'stopped'" (click)="stop(item.name)">stop</a> <a
						class="waves-effect waves-red btn-flat disabled red-text"
						*ngIf="item.status == 'stopped'">stop</a>
				</div>


			</div>
		</div>
	</div>
</div>


