<nav>
	<div class="nav-wrapper indigo">
		
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a routerLink="/microservice-status"
				routerLinkActive="active">Microservice Status</a></li>
			<li><a routerLink="/rss-classification"
				routerLinkActive="active">RSS Classification</a></li>
			<li><a routerLink="/rss-insight" routerLinkActive="active">RSS
					Insight</a></li>
			<li><a routerLink="/trading-simulation"
				routerLinkActive="active">Trading Simulation</a></li>
				        <li><a class="waves-effect blue waves-light btn" routerLink="/introduction" routerLinkActive="active">What?</a></li>
				
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
