<div class="container">
  <div *ngIf="!data && !error">
    <div class="preloader-background">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="data || error">
    <div class="section">
      <h5>Current Metric values</h5>
      <p>the values below show the metric values at the current point in time</p>
      <div class="row">
        <div *ngIf="!error; else errorHappened">
          <div class="col l3" *ngFor="let item of data">
            <div class="card">
              <div class="card-content">
                <span class="card-title ">{{item.id.indicator}}</span>

                <table>
                  <thead>
                  <tr>
                    <th>Stepping</th>
                    <th>Value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1 min.</td>
                    <td>
                      <div *ngIf="item.value1min > 0; else min1Else">
                        <div class="teal-text left"> {{item.value1min|number:'1.0-2'}}</div>
                      </div>
                      <ng-template #min1Else>
                        <div class="teal-text">{{item.value1min|number:'1.0-2'}}</div>
                      </ng-template>
                    </td>
                  </tr>

                  <tr>
                    <td>5 min.</td>
                    <td>
                      <div *ngIf="item.value5min > 0; else min1Else">
                        <div class="teal-text left"> {{item.value5min|number:'1.0-2'}}</div>
                      </div>
                      <ng-template #min1Else>
                        <div class="teal-text">{{item.value5min|number:'1.0-2'}}</div>
                      </ng-template>
                    </td>
                  </tr>

                  <tr>
                    <td>15 min.</td>
                    <td>
                      <div *ngIf="item.value15min > 0; else min1Else">
                        <div class="teal-text left"> {{item.value15min|number:'1.0-2'}}</div>
                      </div>
                      <ng-template #min1Else>
                        <div class="teal-text">{{item.value15min|number:'1.0-2'}}</div>
                      </ng-template>
                    </td>
                  </tr>

                          <tr>
                    <td>30 min.</td>
                    <td>
                      <div *ngIf="item.value30min > 0; else min1Else">
                        <div class="teal-text left"> {{item.value30min|number:'1.0-2'}}</div>
                      </div>
                      <ng-template #min1Else>
                        <div class="teal-text">{{item.value30min|number:'1.0-2'}}</div>
                      </ng-template>
                    </td>
                  </tr>

                  <tr>
                    <td>60 min.</td>
                    <td>
                      <div *ngIf="item.value60min > 0; else min1Else">
                        <div class="teal-text left"> {{item.value60min|number:'1.0-2'}}</div>
                      </div>
                      <ng-template #min1Else>
                        <div class="teal-text">{{item.value60min|number:'1.0-2'}}</div>
                      </ng-template>
                    </td>
                  </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <ng-template #errorHappened>

          <div class="row">
            <b><span class="red-text"> {{ error }} </span></b>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
