<div class="container">
	<div *ngIf="!data">
		<div class="preloader-background">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

	</div>


<div *ngIf="data" class="section">
    <h5>Classify News</h5>
    <p>The news articles have to be classified by hand to generate training data for the neural network which performs the classification.</p>
	<div class="row">
		<div class="col l4" *ngFor="let item of data">
			<div class="card small">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{
						item.heading }}<i class="material-icons right">more_vert</i>
					</span> {{ item.publicationDate | date}}
					<div *ngIf="item.heading.length <= 60">
						<div *ngIf="item.description.length > 180">{{
							item.description | slice:0:180 }} ...</div>
						<div *ngIf="item.description.length <= 180">{{
							item.description }}</div>
					</div>

					<div *ngIf="item.heading.length > 60">
						<div *ngIf="item.description.length > 145">{{
							item.description | slice:0:145 }} ...</div>
						<div *ngIf="item.description.length <= 145">{{
							item.description }}</div>
					</div>
				</div>

				<div class="card-action">
					<a class="waves-effect waves-teal btn-flat teal-text"
						(click)="classifyPositive(item)">positive</a> <a
						class="waves-effect waves-amber btn-flat amber-text"
						(click)="classifyNeutral(item)">neutral</a> <a
						class="waves-effect waves-red btn-flat red-text"
						(click)="classifyNegative(item)">negative</a>
				</div>

				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{
						item.heading }}<i class="material-icons right">close</i>
					</span>
					<p>{{item.description}}</p>
				</div>

			</div>
		</div>
	</div>
</div>
</div>