<div *ngIf="chart" style="height: 300px; width: 300px">
  <canvas id="canvas" >{{ chart }}</canvas>
  </div>
     
<div *ngIf="data">
<mat-card *ngFor="let item of data.sentiments" class="example-card">
  <mat-card-header>
  <div mat-card-avatar class="example-header-image"> </div>
    <mat-card-title>{{ item.entry.heading }}</mat-card-title>
    <mat-card-subtitle>{{ item.entry.publicationDate.toLocaleString() }}</mat-card-subtitle>
    
  </mat-card-header>
  <mat-card-content flex>
    <p>
{{ item.entry.description }}
     </p>
     
         <p>
     <b>Positive Probability</b>: {{ item.positiveProbability }}
     </p>
     
     <p>
     <b>Negative Probability</b>: {{ item.negativeProbability }}
     </p>
  </mat-card-content>
</mat-card>
</div>
